@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer class="py-5 bg-z-dark2 text-gray">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto" style="opacity: 0.7;">
                <div class="row align-items-center">
                    <div class="col-sm-4 text-left">
                        <h4 class="mb-2">
                            <a href="https://www.instagram.com/zifro.se/" class="text-gray" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/zifro.se/" class="text-gray" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/zifro/" class="text-gray" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </h4>
                        <p class="mb-2 small"><a href="mailto:info@zifro.se" class="text-gray">info@zifro.se</a></p>
                        
                        <p class="mb-0 small"><a href="/anvaendarvillkor" class="text-gray">Användarvillkor</a></p>
                        <p class="mb-0 small"><a href="/dataskyddspolicy" class="text-gray">Dataskyddspolicy</a></p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <p class="mb-0"> &copy; Zifro AB </p>
                    </div>
                    <div class="col-sm-4 text-right">
                        <p class="mb-2"><img src="/media/1045/zifro_white.svg" height="25px" alt="Zifro"></p>
                        <p class="mb-0 small"> c/o KTH Innovation </p>
                        <p class="mb-0 small"> Lindstedtsvägen 24 </p>
                        <p class="mb-0 small"> 114 28 STOCKHOLM </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</footer>