<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="fe6abf29-6773-4e0b-9da8-91888e487e39" name="Zifro" alias="zifro" type="Starter" color="" url="https://www.s1.umbraco.io/project/zifro">
  <environment type="live" name="Live" id="deff2680-6fcd-49d4-a774-ccdda47d03cc">https://zifro.s1.umbraco.io</environment>
</environments>